/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif; /* Fuente global */
    color: #333;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 80px auto; /* Aumentar el margen superior para evitar superposición */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif; /* Aplicar fuente Poppins al formulario */
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: 600; /* Negrita para las etiquetas */
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc; /* Bordes gris claro */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
    font-family: 'Poppins', sans-serif; /* Aplicar fuente Poppins a los inputs y textarea */
    width: 100%; /* Ancho completo */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007bff; /* Color del borde al enfocar */
    outline: none; /* Quitar el contorno por defecto */
}

button {
    padding: 10px;
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    font-size: 16px;
    font-family: 'Poppins', sans-serif; /* Aplicar fuente Poppins al botón */
    transition: background-color 0.3s; /* Transición suave */
}

button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}

/* Estilo de la información de contacto */
.contact-info {
    margin-top: 30px;
    padding: 15px;
    background-color: #f9f9f9; /* Fondo gris claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.contact-info h2 {
    margin-bottom: 15px;
    font-weight: 600; /* Negrita para el título */
}

.contact-info p {
    margin: 5px 0; /* Espaciado para los párrafos */
}
